{% extends "main.html" %}
{%load i18n%}


{% block title %} {% trans "Edit note" %} {% endblock title %}

{% block content %}

<h3>{% trans "login realized" %}: <i>{{request.user.username}}</i></h3>
<button> <a href="sign/logout/">{% trans "Exit" %}</a> </button>
    <p align="right"><button> <a href="/"> {% trans "Return to main page portal" %} </a></button> </p>


   <h1>{% trans "Edit notes" %} </h1>
<table>
            <tr>
                <td>
                    {% trans "Name" %}
                </td>
                <td>
                    {% trans "Date of publication" %}
                </td>
                <td>
                    {% trans "Description" %}
                </td>
                <td>
                    {% trans "Author" %}
                </td>
                <td>
                    {% trans "Category" %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ note.title}}
                </td>
                <td>
                    {{ note.dateCreation|date:'d-M-Y h:m' }}
                </td>

                <td>
                    {{ note.text }}
                </td>
                <td>
                    {{ note.author }}
                </td>
                <td>
                    {{ note.category }}
                </td>
            </tr>
        </table>


<form method="POST">
    {% csrf_token %}
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value={% trans "submit" %}></form>
{% endblock content %}