{% extends "main.html" %}
{%load i18n%}
{% block title %} News {% endblock title %}

{% block content %}

<h3>{% trans "login realized" %}: <i>{{request.user.username}}</i></h3>
<button> <a href="sign/logout/">{% trans "Exit" %}</a> </button>
    <p align="right"><button> <a href="/"> {% trans "Return to main page portal" %} </a></button> </p>

<BR><BR>
<p align="left" ><i>{% trans "Display language" %}</i> </p>



    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value={% trans "set" %}>
    </form>

<form method="POST">
    {% csrf_token %}
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value= {% trans "Add news to portal" %}>
</form>

{% endblock content %}

