{% extends "main.html" %}
{%load i18n%}
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
Note.html
{% endblock title %}

{% block content %}

<body style="background-color: #FFCCCC">
<h3>{% trans "login realized" %}: <i>{{request.user.username}}</i></h3>
<button> <a href="sign/logout/">{% trans "Exit" %}</a> </button>

<BR><BR>
<p align="left" ><i>{% trans "Display language" %}</i> </p>



    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value={% trans "set" %}>
    </form>


    <h1><p align="center" >{% trans "News in the portal" %}</p></h1>
        <p align="right"><button> <a href="/"> {% trans "Return to main page portal" %} </a></button> </p>
    <hr>
        <table>
            <tr>
                <td>
                    <strong>{% trans "Name" %}</strong>
                </td>
                <td>
                    <strong>{% trans "Date of publication" %}</strong>
                </td>
                <td>
                    <strong><p align="center" >{% trans "Description" %}</p></strong>
                </td>
                <td>
                    <strong>{% trans "Author" %}</strong>
                </td>

                  <td>
                    <strong>{% trans "Category" %}</strong>
                </td>

            </tr>
            <tr>
                <td width=200px>
                    <br> <br>
                    {{ note.title|censor }}
                </td>
                <td width=200px>
                    <br><br>
                    {{ note.dateCreation|date:'d-M-Y h:m' }}
                </td>

                <td width=2000px>
                    <br><br>
                    <i>{{ note.text|censor }}</i>
                </td>

                  <td width="8%">
                    <br> <br>
                     {{ note.author }}
                    </td>


                 <td >
                    <br> <br>

                     <a href="{% url 'category_list' note.category.id %}">{{ note.category }}</a>


                </td>

            </tr>
        </table>
<br><br><br><br><br><br>
    <button><a  href="{% url 'newsEdit' note.id %}">{% trans "Edit" %} </a> </button><br><br>
    <button><a href="{% url 'newsDelete' note.id %}"> {% trans "Delete" %} </a> </button>


{% endblock content %}

<!--<a href="{% url 'category_list' category.id %}">{{ note.category }}</a>-->

<!--{{ note.category }}-->